@page "/"

<PageTitle>Home</PageTitle>

<p class="mx-5 bg-sky-600 px-6 text-gray-600">Welcome to your new app.</p>
<button class="bg-sky-700 px-4 py-2 text-white hover:bg-sky-800 sm:px-8 sm:py-3">
    Submi alert-secondary ads t
</button>
